 @model AppointmentViewModel
 
 
 <h3>Appointment Booked Successfully</h3>

<p><b>Doctor:</b> @Model.DoctorName</p>
<p><b>From:</b> @Model.StartTime</p>
<p><b>To:</b> @Model.EndTime</p>
 <p>
     <b>Status:</b>
     <span class="badge bg-warning text-dark">
         Pending Admin Approval
     </span>
 </p>

 <hr />
 
<form id="payForm" asp-controller="PatientAppointment" asp-action="Pay" method="post">
    
    <input type="hidden" name="appointmentId" value="@Model.AppointmentId" />
    
    <input type="hidden" id="selectedPaymentMethod" name="paymentMethod" value="" />

    <button type="button" class="btn btn-success" onclick="showChoicePopup()">
        Pay Now
    </button>
</form>

<script>
    function showChoicePopup() {
        Swal.fire({
            title: 'Please select an option',
            text: "Choose Payment Method?",
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Wallet',
            cancelButtonText: 'Cash',
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#4eb9ea',
            reverseButtons: true
        }).then((result) => {
            let method = "";

            if (result.isConfirmed) {
                method = "Wallet";
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                method = "Cash";
            } else {
                return; // User cancelled
            }

            // 1. Set the hidden input value
            document.getElementById('selectedPaymentMethod').value = method;

            // 2. Submit the form 
            document.getElementById('payForm').submit();
        });
    }
</script>